body{
    font-family: sans-serif;
}
.full{
    width: 100%;
}
.width{
    width: 1200px;
    margin: auto;
}
.container{
    padding-bottom: 60px;
}
.center{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
img{
    vertical-align: top;
}
.banner{
    width: 100%;
}
.width h2{
    padding-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #80BC63;
    letter-spacing: 10px;
}
/* 分類目錄 */

.list{
    display: flex;
    margin-bottom: 15px;
}
.list ul{
    display: inline-block;
    list-style: none;
}
.list button{
    display: inline-block;
    border: none;
    background-color: #D0CDC2;
    color: #847F6E;
    letter-spacing: 5px;
    margin: 20px 15px;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    transition: .3s;
}
.list button:hover{
    background-color: #FFA015;
    color: #fff;
}
.listSidebar a{
    color: #3F6E29;
}
.listSidebar li:nth-child(1){
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}


/* 商品左欄分類 */
.listSidebar {
    width: 85%;
    padding-top: 10px;
    /* border: 1px solid #000; */
}
.listSidebar li{
    padding-top: 10px;
}

/* 商品們 */
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 100px;
    margin: 20px 10px;
    border-radius: 5px;
}
.item:hover{
    box-shadow: 0px 0px 10px 2px #ddd;
    cursor: pointer;
}
.productsPic img{
    width: 100%;
    border-radius: 5px;
}
.productsInfo{
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}
.productsInfo h3{
    font-size: 20px;
    color: #FFA015;
}
.productsInfo h4{
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}
.productsInfo h4:hover{
    color:#FFA015;
    cursor: pointer;
}

.txt{
    display: inline-block;
    letter-spacing: 10px;
    color: #fff;
    font-size: 16px;
}
.buy{
    width: 100%;
    background-color: #FFA015;
    padding: 8px 15px;
    margin-top: 18px;
    border: none;
    display: flex;
    border-radius: 50px;
    justify-content: center;
}
.buy img{
    margin-right: 10px;
}
.buy:active{
    background-color: #ffd089;
}
button:hover{
    cursor: pointer;
    background-color: #ffbd59;
}
/* 商品詳細頁 */
.path{
    margin-left: 10px;
}
.path ul{
    list-style: none;
    display: flex;
}
.path li{
    position: relative;
    color: #FFA015;
    padding: 10px;
}
.path li a{
    color: #3F6E29;
    font-size: 16px;;
}
.path li + li::before{
    content: '/';
    color: #aaa;
    position: absolute;
    left: 0;
}
/* 大小圖 */
.detail{
    display: flex;
}
.smallPic{
    width: 570px;
}
.smallPic img{
    margin: 20px 10px 10px 0px;
}
.largePic img:hover , .smallPic img:hover {
    cursor: pointer;
}
/* 右欄資訊 */
.rightPart{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
    font-size: 40px;
    color: #80BC63;
    margin-bottom: 24px;
    letter-spacing: 5px;
    font-weight: bold;
}
h3{
    letter-spacing: 3px;
    line-height: 1.3;
    margin-bottom: 16px;
    font-size: 22px;
    color: #3F6E29;
}
.rightBar ul li{
    padding: 10px 0;
    color: #999;
}
.rightBar ul li::before{
    content: '❋';
    margin-right: 2px;
    /* display: block;
    width: 5px;
    height: 5px;
    background-color: #999;
    border-radius: 50%;
    position: relative;
    left: -10px;
    top: 10px; */
}
hr{
    background-color: #ddd;
}
ol li{
    margin: 15px 0;
    color: #666;
    font-size: 14px;
}
.add {
    background-color: #FFA015;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    padding: 10px 20px;
    border-radius: 300px;
}
.freeShip{
    color: #f00;
    font-size: 13px;
    margin: 0 15px;
}
.addCart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}