.footer {
    background-color: #D0CDC2;
    width: 100%;
    padding-top: 2%;
    margin-top: 15%;
}
.bottom{
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}
/* icon */
.socialMedia{   
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.socialMedia a{
    margin: 5% 6%;
    transform: translateY(0);
}
.socialMedia a:hover{
    transform: translateY(-5px);
    transition: .5s;
}

.copyright{
    border: 1px #ccc solid;
    font-size: 12px;
    text-align: left;
    margin: 50px 0 0 0;
}
.pages ul{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.pages li{
    padding: 6% 6%;
    margin: 2% 0;
}
.page li img{
    width: 68px;
}
.pages a{
    text-decoration: none;
    color: #3F6E29;
    font-weight: 500;
    font-size: 1.2em;
}
.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.copyright p{
    width: 85%;
    text-align: center;
    display: inline-block;
    color: #666;
    font-size: 0.8em;
    line-height: 1.5;
}
label{
    margin: 2% 0;
    padding: 3% 0;
}

@media screen and (min-width:992px) {
    .footer{}
}