.footer {
    background-color: #D0CDC2;
    width: 100%;
    padding-top: 2%;
}

/* icon */
.socialMedia{   
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.socialMedia a{
    margin: 5% 6%;
    transform: translateY(0);
}
.socialMedia a:hover{
    transform: translateY(-5px);
    transition: .5s;
}

.copyright{
    border: 1px #ccc solid;
    font-size: 12px;
    text-align: left;
    margin: 50px 0 0 0;
}
.pages ul{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.pages li img{
    width: 68px;
}
.pages a{
    text-decoration: none;
    color: #3F6E29;
    font-weight: 500;
    font-size: 1em;
    margin: 5% 0;
}
.pages li{
    margin: 8% 0;
}
/* 免責聲明 */
.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.copyright p{
    width: 85%;
    text-align: center;
    display: inline-block;
    color: #666;
    font-size: 0.8em;
    line-height: 1.5;
}
.copyright span{
    text-align: left;
    display: inline-block;
    color: #666;
    font-size: 0.6em;
    line-height: 1.5;
}
/* 回頂按鈕 */
.goTop{
    cursor: pointer;
    background-color: #FFA015;
    color: #fff;
    margin: 2% 0;
    padding: 8px 20px;
    border-radius: 300px;
    border: none;
    letter-spacing: 0.2em;
    font-weight: 600;
    transform: translate(0);
    transition: .3s;
}

.goTop:hover{
    background-color: #ededed;
    color: #80BC63;
    transform: translate(1px , 2px);
}

@media screen and (min-width:992px) {
/* icon */
.socialMedia{   
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 1% 0;
}
.socialMedia a{
    margin: 2% 3%;
    transform: translateY(0);
}
.socialMedia a:hover{
    transform: translateY(-5px);
    transition: .5s;
}

.copyright{
    border: 1px #ccc solid;
    font-size: 12px;
    text-align: left;
    margin: 50px 0 0 0;
}
.pages ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.pages li img{
    width: 68px;
}
.pages a{
    text-decoration: none;
    color: #3F6E29;
    font-weight: 500;
    font-size: 1.2em;
}
.pages li{
    margin: 3% 5%;
}
.pages li a:hover{
    color: #80BC63;
    transition: .5s;
}
.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.copyright p{
    width: 80%;
    text-align: center;
    display: inline-block;
    color: #666;
    font-size: 0.6em;
    line-height: 1.5;
}

.goTop{
    cursor: pointer;
    background-color: #FFA015;
    color: #fff;
    font-weight: 700;
    margin: 2% 0;
    padding: 8px 20px;
    border-radius: 300px;
    border: none;
    letter-spacing: 0.2em;
    transform: translate(0);
    transition: .3s;
}

.goTop:hover{
    background-color: #ededed;
    color: #80BC63;
    transform: translate(1px , 2px);
}

}