body{
    font-family: sans-serif;
}
.bgImg{
    background-image: url(../pic/bg-tomatoes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100%;
    background-position: center;
    padding-bottom: 844px;
    background-attachment: fixed;
}
.logo{
    position: fixed;
    top: 15px;
    right: 15px;
    margin: 15px;
}


@media screen and (min-width:768px) {
    
}