body{
    font-family: sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    text-align: center;
}
h1{
    font-size: 3em;
    color: #80BC63;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 60px;
}
h2{
    font-size: 2em;
    color: #80BC63;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 60px;
}
h3{
    display: inline-block;
    font-size: 1.5em;
    color: #3F6E29;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 1.5;
}
h4{
    font-size: 1.1em;
    color: #3F6E29;
    font-weight: 600;
    margin-bottom: 7%;
}
p{
    font-size: 1em;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-90{
    margin-bottom: 90px;
}
.mt-90{
    margin-top: 90px;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}

/* path麵包屑 */
.path{
    margin: 15px 10px 15px 0;
}
.path ul{
    list-style: none;
    display: flex;
}
.path li{
    position: relative;
    padding: 10px;
}
.path li a{
    color: #3F6E29;
    font-size: 1em;
}
.path a::after{
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    margin-bottom: 5px;
    background-color: #3F6E29;
    transition: 0.4s ease-in-out;
}
.path a:hover:after{
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}

.path span{
    color: #FFA015;
    font-weight: 700;
}
.path li + li::before{
    content: '/';
    color: #D0CDC2;
    position: absolute;
    left: 0;
}
/* 聯絡我們 */

/* 表單 */
form{
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 10px;
    border: 1px solid #80BC63;
    margin:5px;
    padding: 2px;
}
textarea{
    width: 200px;
    height: 100px;
    border: 1px solid #80BC63;

}
.item{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
.item p {
    line-height: 1.2;
}
.icon img{
    margin-right: 2%;
}
.socialMedia{
    justify-content: center;
}
.socialMedia img{
    transform: translateY(0);
}

.socialMedia img:hover{
    transform: translateY(-3px);
    transition: .5s;
}

@media screen and (min-width:992px) {
    .width{
        max-width: 800px;
        margin: auto;
    }
    .wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
    .reverse{
        flex-direction: row-reverse;
    }
    
    /* 文章卡片 */
    .article{
        padding: 1%;
        margin: 3%;
        border-radius: 10px;
        margin-bottom: 3%;
        box-shadow: 0px 0px 10px 2px #eee;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .article:hover{
        box-shadow: 0px 0px 10px 2px #ccc;
    }
    .txt{
        padding: 2%;
    }
    .txt p{
        font-size: 16px;
        line-height: 1.5;
        color: #666;
    }
    .date{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .pic img{
        vertical-align: top;
    }
    .readMore{
        vertical-align: top;
    }
}
@media screen and (min-width:1200px) {
    .width{
        max-width: 1200px;
        margin: auto;
    }
}