.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    text-align: center;
}
h1{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
}
h2{
    font-size: 30px;
    color: #80BC63;
    letter-spacing: 10px;
    font-weight: bold;
}
h3{
    display: inline-block;
    font-size: 24px;
    color: #3F6E29;
    letter-spacing: 3px;
    font-weight: 600;
}
h4{
    font-size: 18px;
    color: #3F6E29;
    font-weight: 500;
}
p{
    font-size: 14px;
}
.pb-24{
    padding-bottom: 24px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-90{
    padding-bottom: 90px;
}
.pt-90{
    padding-top: 90px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-90{
    margin-bottom: 90px;
}
.mt-90{
    margin-top: 90px;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}
.threePoints img{
    width: 30%;
}

/* 第一屏 */
.mainTxt{
    margin: auto;
    position: relative;
    top: 330px;
    /* left: 50%;
    right: 0;
    transform: translateX(-50%); */
    text-align: center;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.mainTxt h2{
    color: #fff;
    letter-spacing: 3px;
    opacity: 85%;
    margin-bottom: 20px;
    display: inline-block;
}
.mainTxt p{
    color: #fff;
    font-size: 16px;
    opacity: 85%;
    display: inline-block;
}
.mainTxt:after{
    content: '';
    background: #fff;
    height: 1px;
    width: 120px;
    position: relative;
    bottom: -100px;
    left: 0;
    right: 0;
    transform: rotate(90deg);
    margin: auto;
}
/* button{
    cursor: pointer;
    background-color: #FFA015;
    margin: 8px 0;
    padding: 8px 20px;
    border-radius: 300px;
    border: none;
    letter-spacing: 2px;
    transform: translate(0);
    transition: .3s;
}

button:hover{
    background-color: #ffc46c;
    color: #fff;
    transform: translate(1px , 2px);
} */

/* 三大核心 */
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* 推薦商品 */
.goods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 24px;
}
.goods .pic img{
    margin: auto;
    width: 50%;
    border-radius: 15px;
}
.goods:hover{
    box-shadow: 0px 0px 10px 2px #ddd;
}
.name{
    width: 200px;
    display: flex;
    padding-bottom: 28px;
}
.name P{
    color: #FFA015;
    font-size: 18px;
    font-weight: 700;
    margin-right: 2%;
}
.name h4{
    flex-grow: 1;
    margin-left: 2%;
}

/* 近期消息 */
.item.article{
    width: 45%;
    padding-bottom: 10%;
    background-color: #fff;
    box-shadow: 1px 1px 5px 2px rgb(212, 212, 212), 
                -1px -1px 5px 2px #fff;
    border-radius: 15px;
    transform: translate(0);
}
.item.article:hover{
    transform: translateY(-5px);
    transition: .5s;
    cursor: pointer;
}
.item.article img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.item .txt{
    margin: 4% 6%;
}
.txt h4{
    text-align: left;
    margin-top: 4px;
    margin-bottom: 16px;
    line-height: 1.5;
    flex-grow: 1;
}
.txt p{
    line-height: 1.7;
    text-align: left;
    font-size: 14px;
    color: #80BC63;
    padding-bottom: 8px;
    flex-grow: 1;
}
.txt a{
    font-size: 14px;
    text-decoration: none;
    color: #3F6E29;
    display: inline-block;
}
