.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
body{
    font-family: sans-serif;
}
main{
    padding-bottom: 12%;
}
.title{
    text-align: center;
}
h1{
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    display: inline-block;
}
h2{
    font-size: 2em;
    color: #80BC63;
    letter-spacing: 10px;
    font-weight: bold;
}
h3{
    display: inline-block;
    font-size: 1.8em;
    color: #3F6E29;
    letter-spacing: 3px;
    font-weight: 600;
}
h4{
    font-size: 1.1em;
    color: #3F6E29;
    font-weight: 500;
}
p{
    font-size: 14px;
}
.pb-24{
    padding-bottom: 24px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-90{
    padding-bottom: 90px;
}
.pt-90{
    padding-top: 90px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-90{
    margin-bottom: 90px;
}
.mt-90{
    margin-top: 90px;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}

/* 第一屏 */
.mainTxt .first{
    margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,75%);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.mainTxt .first h2{
    color: #fff;
    letter-spacing: 3px;
    opacity: 85%;
    margin-bottom: 20px;
    display: inline-block;
}
.mainTxt .first p{
    color: #fff;
    font-size: 16px;
    opacity: 85%;
    display: inline-block;
    margin-bottom: 16px;
}

.mainTxt .first button{
    display: none;
}

.mainTxt .socialMedia{
    display: none;
}
.animation{
    display: flex;
    flex-direction: column;
}

/* 三大核心 */
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.threePoints img{
    width: 30%;
}
.threePoints{
    background-color: #F8F6EE;
}

/* 中間banner */
.banner{
    background-image: url(../pic/corn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height:100vh;
}

/* 貓頭鷹 */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #3F6E29;
}   
.owl-theme .owl-dots .owl-dot span {
    background-color: #89b9709a;
}
/* 推薦商品 */
.productsBg{
    background-image: url(../pic/bg-vege-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height:100vh;
}
.goods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 24px;
    cursor: pointer;
}
.goods .pic img{
    margin: auto;
    width: 50%;
    border-radius: 15px;
}

.name{
    width: 200px;
    display: flex;
    margin-top: 3%;
}
.name P{
    color: #FFA015;
    font-size: 18px;
    font-weight: 700;
    margin-right: 2%;
}
.name h4{
    flex-grow: 1;
    margin-left: 2%;
}

/* 近期消息 */
.item.article{
    max-width: 300px;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px  rgb(212, 212, 212) solid;
    border-radius: 15px;
}

.item.article img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.item .txt{
    margin: 4% 6%;
}
.txt h4{
    text-align: left;
    margin-top: 4px;
    margin-bottom: 16px;
    line-height: 1.5;
    flex-grow: 1;
}
.txt p{
    line-height: 1.7;
    text-align: left;
    font-size: 14px;
    color: #80BC63;
    padding-bottom: 8px;
    flex-grow: 1;
}
.txt a{
    font-size: 14px;
    text-decoration: none;
    color: #3F6E29;
    display: inline-block;
}

@media screen and (min-width:992px) {

    main{
        padding-bottom: 6%;
    }
    .width{
        max-width: 800px;
    }
    .banner{
        background-image: url(../pic/corn.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    /* 第一屏 */
    .mainTxt .socialMedia{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 35%;
        left: 12%;
    }
    .mainTxt .socialMedia a{
        transform: translateY(0);
        width: 32px;
    }
    .mainTxt .socialMedia a:hover{
        transform: translateY(-5px);
        transition: .5s;
    }

    .mainTxt .first h2{
        color: #fff;
        letter-spacing: 3px;
        opacity: 85%;
        margin-bottom: 20px;
        display: inline-block;
    }
    .mainTxt .first p{
        color: #fff;
        font-size: 16px;
        opacity: 85%;
        display: inline-block;
    }
    .mainTxt .first{
        position: absolute;
        top: 50%;
        left: 40%;
        text-align: left;
        align-items: flex-start;
        width: 50%;
        transform: translate(-40%,-40%);
    }
    .mainTxt .first button{
        display: block;
        cursor: pointer;
        background-color: #FFA015;
        color: #fff;
        margin-top: 50%;
        padding: 8px 20px;
        border-radius: 300px;
        border: none;
        letter-spacing: 0.2em;
        transform: translate(0);
        transition: .3s;
    }
    .mainTxt button:hover{
        background-color: #ededed;
        color: #80BC63;
        transform: translate(1px , 2px);
    }

    /* 三大核心 */
    .wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5%;
    }
    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .threePoints img{
        width: 20%;
    }
    /* 近期消息 */
    .news .item{
        margin: 0 5%;
        box-sizing: border-box  ;
    }
}

@media screen and (min-width:1200px) {
    .width{
        max-width: 1200px;
    }
    .banner{
        background-image: url(../pic/corn.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
}