body{
    font-family: sans-serif;
}
main{
    padding-bottom: 6%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    text-align: center;
}
h1{
    font-size: 2.6em;
    color: #80BC63;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 60px;
}
h2{
    font-size: 2em;
    color: #80BC63;
    letter-spacing: 10px;
    font-weight: bold;
}
h3{
    display: inline-block;
    font-size: 1.5em;
    color: #3F6E29;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 6% 0;
}
h4{
    font-size: 1.1em;
    color: #3F6E29;
    font-weight: 500;
    margin-bottom: 7%;
    line-height: 1.3;
}
p{
    font-size: 1em;
}
.pb-60{
    padding-bottom: 60px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-90{
    margin-bottom: 90px;
}
.mtb-50{
    margin: 50px 0;
}
.mt-90{
    margin-top: 90px;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}
.greenNav{
    background-color: #3f6e29f1;
}
/* banner */
.smallScreen{
    background-image: url(../pic/banner-products2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}
.bigScreen{
    display: none;
}
/* path麵包屑 */
.path{
    margin: 15px 10px 15px 0;
}
.path ul{
    list-style: none;
    display: flex;
}
.path li{
    position: relative;
    padding: 10px;
}
.path li a{
    color: #3F6E29;
    font-size: 1em;
}
.path a::after{
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    margin-bottom: 5px;
    background-color: #3F6E29;
    transition: 0.4s ease-in-out;
}
.path a:hover:after{
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}

.path span{
    color: #FFA015;
    font-weight: 700;
}
.path li + li::before{
    content: '/';
    color: #D0CDC2;
    position: absolute;
    left: 0;
}

/* 分類目錄 */

.catalog{
    display: flex;
}
label{
    margin: auto;
    text-align: center;
    background-color: #fefff6;
    border: 1px solid #90c57c;
    border-radius: 300px;
    color: #90c57c;
    transition: .5s;
    cursor: pointer;
}
.catalog > input{
    display: none;
}
input:checked + label.btn{
    background-color: #90c57c;
    border: 1px solid #90c57c;
    color: #fefff6;
}
/* 商品卡片 */
.products{
    padding: 5% 0;
}

.card{
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0.1rem 0.3rem 0 rgb(0 0 0 / 10%);
}
.productsCard img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.productsTitle{
    padding-top: 2%;
}
.productsTitle p{
    color: #666;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 5%;
    text-align: center;
}
.productsTitle p span{
    color: #FFA015;
    font-weight: 700;
}


/* 商品圖 */
.bigSize img{
    cursor: pointer;
}
.bigSize .lg img{
    /* display: none; */
    width: 100%;
}
.bigSize .sm img{
    width: 16.333333%;
    margin: 2% 1%;
    box-sizing: border-box;
}
.hr img{
    width: 100%;
}
/* 商品描述 */
.sider{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.description{
    flex-grow: 1;
}
.description ul li{
    padding: 10px 0;
    color: #999;
}
.description ul li::before{
    content: '❋';
    margin-right: 2px;
}
.description ol li{
    margin: 15px 0;
    color: #666;
    font-size: 14px;
}
.buy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0;
}
.price span{
    color: #FFA015;
    font-size: 1.3em;
    font-weight: bold;
}
.btnMinus , .btnPlus , .qtyBox{
    padding: 8px 15px;
    border: 1px solid #aaa;
    color: #aaa;
    font-size: 0.9em;
}
.qtyBox{
    width: 50px;
    margin: 0 -5px;
    text-align: center;
    background-color: #fff;
}
.btnMinus , .btnPlus{
    color: #505050;
    cursor: pointer;
}
.btnMinus:hover , .btnPlus:hover{
    background-color: #ddd;
}
.add{
    cursor: pointer;
    background-color: #FFA015;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    margin: 2% 0;
    padding: 8px 20px;
    border-radius: 300px;
    border: none;
    letter-spacing: 0.2em;
    transition: .3s;
}
.add:hover{
    background-color: #ffbc57;
}

/* 猜你喜歡 */
.pic img{
    width: 100%;
}
.like{
    cursor: pointer;
    transform: translate(0);
    transition: .5s;
}
.like:hover{
    transform: translateY(-6px);
}

/* 頁碼 */
.articlePages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.arrow img{
    margin: 10px;
    cursor: pointer;
    vertical-align: middle;
}

button{
    margin: 10px;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    border: 1px #ccc solid;
    color: #999;
    transition: .3s;
    cursor: pointer;
}
button:hover{
    color: #FFA015;
}
button:active{
    border: 1px #aaa solid;
    color: #aaa;
    transform: translate(1px,1px);
}
@media screen and (max-width:991px) {
    .pt-15{
        padding-top: 15%;
    }
    .card{
        box-shadow: 0 0.1rem 0.3rem 0 rgb(0 0 0 / 12%);
    }
    .centerMobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /* 分類目錄 */
    label{
        padding: 3% 5%;
    }
    /* 商品描述 */
    .description{
        padding-bottom: 15%;
    }
}

@media screen and (min-width:992px) {
    .width{
        max-width: 800px;
        margin: auto;
    }
    .wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
    .reverse{
        flex-direction: row-reverse;
    }
    /* banner */
    .banner img{
        max-width: 100%;
    }
    .bigScreen{
        display: block;
        background-image: url(../pic/banner-products.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 40vh;
    }
    .smallScreen{
        display: none;
    }
    /* 分類目錄 */
    label{
        padding: 15px 25px;
    }
    /* 商品卡片 */
    .card{
        transform: translateY(0);
        transition: .5s;
    }
    .card:hover{
        box-shadow: 0 0.1rem 0.3rem 0 rgb(0 0 0 / 15%);
        transform: translateY(-4px);
    }
    /* 商品描述 */
    .mobile{
        display: none;
    }
    .bigSize{
        display: block;
    }

    .lg img{
        width: 500px;
    }
    .sm img{
        width: 80px;
        margin: 20px 10px 10px 0px;
    }
}
@media screen and (min-width:1200px) {
    .width{
        max-width: 1200px;
        margin: auto;
    }
}
