body{
    font-family: sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    text-align: center;
}
h1{
    font-size: 3em;
    color: #80BC63;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 60px;
}
h2{
    font-size: 2em;
    color: #80BC63;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 60px;
}
h3{
    display: inline-block;
    font-size: 1.5em;
    color: #3F6E29;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 6% 0;
}
h4{
    font-size: 1.1em;
    color: #3F6E29;
    font-weight: 600;
    margin-bottom: 7%;
}
p{
    font-size: 1em;
}
.pb-60{
    padding-bottom: 60px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-90{
    margin-bottom: 90px;
}
.mt-90{
    margin-top: 90px;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}
/* banner */
.smallScreen{
    background-image: url(../pic/banner-oranges2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}
.bigScreen{
    display: none;
}
/* path麵包屑 */
.path{
    margin: 15px 10px 15px 0;
}
.path ul{
    list-style: none;
    display: flex;
}
.path li{
    position: relative;
    padding: 10px;
}
.path li a{
    color: #3F6E29;
    font-size: 1em;
}
.path a::after{
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    margin-bottom: 5px;
    background-color: #3F6E29;
    transition: 0.4s ease-in-out;
}
.path a:hover:after{
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}

.path span{
    color: #FFA015;
    font-weight: 700;
}
.path li + li::before{
    content: '/';
    color: #D0CDC2;
    position: absolute;
    left: 0;
}
/* 關於風草+何謂樸門 */

.sidePic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidePic img{
    width: 100%;
}

.content h3{
    display: flex;
    justify-content: center;
}
/* .txt{
    display: flex;
    align-items: center;
} */
.txt p {
    line-height: 1.7;
    color: #888;
    text-indent: 20px;
    letter-spacing: 0.3em;
    text-align: left;
}
.txt p::first-letter{
    font-size: 200%;
}
strong{
    font-weight: 600;
    color: #FFA015;
    display: contents;
}
/* 三大核心 */
.item{
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
}
.item img{
    margin-bottom: 25px;
}
.item p{
    text-align: left;
    font-size: 15px;
    color: #888;
    line-height: 1.5;
}
.goodPoint{
    width: 50%;
}
/* 里程碑 */
.goal-item{
    display: flex;
    align-items: center;
    position: relative;
}
.goal-item:before{
    content: '';
    position: absolute;
    width: 3px;
    background-color: #80BC63;
    top: 0;
    bottom: 0;
    left: -90%;
    right: 0;
    margin: auto;                
}
.goal-item:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #80BC63;
    top: 0;
    bottom: 0;
    left: -90%;
    right: 0;
    margin: auto;
    border-radius: 50%;  
}

.goal-item .picture{
    width: 50%;
    box-sizing: border-box;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}
.picture img {
    width: 60%;
    vertical-align: top;
    border-radius: 50%;
    border: 7px solid #80BC63;
}

.goal-item .timing{
    width: 50%;
    box-sizing: border-box;
    padding: 40px 0;
}

.timing{
    text-align: center;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width:992px) {
    .width{
        max-width: 800px;
        margin: auto;
    }
    .wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
    .reverse{
        flex-direction: row-reverse;
    }
    /* banner */
    .banner img{
        max-width: 100%;
    }
    .bigScreen{
        display: block;
        background-image: url(../pic/banner-oranges.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 40vh;
    }
    .smallScreen{
        display: none;
    }
    /* 里程碑 */
    .goal .wrap{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
    }
    .goal-item{
        display: flex;
        align-items: center;
        position: relative;
    }
    .goal-item:before{
        content: '';
        position: absolute;
        width: 3px;
        background-color: #80BC63;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;                
    }
    .goal-item:after{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #80BC63;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;  
    }
    .goal-item:nth-child(even){
        flex-direction: row-reverse;
    }
    .goal-item .picture{
        width: 50%;
        box-sizing: border-box;
        padding: 40px 0;
        display: flex;
        justify-content: center;
    }
    .picture img {
        width: 70%;
        vertical-align: top;
        border-radius: 50%;
        border: 7px solid #80BC63;
    }
    .goal-item:nth-child(odd) .picture{
        padding-right: 20px;
    }
    .goal-item:nth-child(even) .picture{

        padding-left: 20px;
    }

    .goal-item .timing{
        width: 50%;
        box-sizing: border-box;
        padding: 40px 0;
    }
    .goal-item:nth-child(odd) .timing{
        padding-left: 20px;
    }
    .goal-item:nth-child(even) .timing{
        padding-right: 20px;
    }

    .timing{
        text-align: center;
    }
}
@media screen and (min-width:1200px) {
    .width{
        max-width: 1200px;
        margin: auto;
    }
}