body{
    font-family: sans-serif;
}
main{
    padding-bottom: 10%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    text-align: center;
}
h1{
    font-size: 2.6em;
    color: #80BC63;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 60px;
}
h2{
    font-size: 2em;
    color: #80BC63;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 60px;
}
h3{
    display: inline-block;
    font-size: 1.5em;
    color: #3F6E29;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 1.5;
}
h4{
    font-size: 1.1em;
    color: #3F6E29;
    font-weight: 600;
    margin-bottom: 7%;
}
p{
    font-size: 1em;
}
.mb-20{
    margin-bottom: 20px;
}

img{
    vertical-align: top;
}
a{
    text-decoration: none;
}

/* banner */
.smallScreen{
    background-image: url(../pic/banner-sunset2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}
.bigScreen{
    display: none;
}

/* path麵包屑 */
.path{
    margin: 15px 10px 15px 0;
}
.path ul{
    list-style: none;
    display: flex;
}
.path li{
    position: relative;
    padding: 10px;
}
.path li a{
    color: #3F6E29;
    font-size: 1em;
}
.path a::after{
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    margin-bottom: 5px;
    background-color: #3F6E29;
    transition: 0.4s ease-in-out;
}
.path a:hover:after{
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}

.path span{
    color: #FFA015;
    font-weight: 700;
}
.path li + li::before{
    content: '/';
    color: #D0CDC2;
    position: absolute;
    left: 0;
}
/* 聯絡我們 */
/* 表單 */
form, .writing{
    display: flex;
    flex-direction: column;
}
.writing{
    align-items: flex-end;
    margin-bottom: 4%;
}
form label, input{
    margin: 2% 0;
}
form > p{
    text-align: left;
    margin-bottom: 2%;
}
input{
    border-radius: 10px;
    border: 1px solid #80BC63;
    margin:5px;
    padding: 2px;
}
input:focus{
    outline:none;
    background-color: #81bc63a1;
}
textarea:focus{
    outline:none;
    background-color: #81bc63a1;
}
textarea{
    margin: 2% 0;
    height: 100px;
    border: 1px solid #80BC63;
    resize: none;
    border-radius: 10px;
}
/* input::placeholder{
    color: #81bc63;
    font-size: 1em;
    transform: translate(5px,-35px);
} */
.btns{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.btn{
    padding: 5px 15px;
    border-radius: 300px;
    border: none;
}
.btn:nth-child(1){
    color: #fff;
    background-color: #FFA015;
}
.btn:nth-child(2){
    color: #666;
    background-color: #ccc;
}



/* 社群 */

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.wrap .item p {
    margin-left: 3%;
    line-height: 1.2;

    display: inline-block;
}
.icon img{
    margin-right: 2%;
}

.socialMedia img{
    transform: translateY(0);
}

.socialMedia img:hover{
    transform: translateY(-3px);
    transition: .5s;
}

/* 地圖 */
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
.info .item{
    text-align: left;
}
.pic img{
    width: 100%;
}
@media screen and (min-width:992px) {
    .width{
        max-width: 800px;
        margin: auto;
    }
    /* banner */
    .banner img{
        max-width: 100%;
    }
    .bigScreen{
        display: block;
        background-image: url(../pic/banner-sunset.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 40vh;
    }
    .smallScreen{
        display: none;
    }

    .wrap{
        display: flex;
        flex-direction: column;
    }
    .pic img{
        width: 80%;
        transform: translate(12.5%, 0);
    }
    .align-center {
        align-items: center;
        justify-content: center;
        transform: translate(0, 12.5%);
}
@media screen and (min-width:1200px) {
    .width{
        max-width: 1200px;
        margin: auto;
    }
}